@model ApartmentManagementClient.Models.Apartments.CreateApartmentModel

@{
    ViewData["Title"] = "Create";
}



<h4>Add New Apartment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Block" class="control-label"></label>
                <input asp-for="Block" class="form-control" />
                <span asp-validation-for="Block" class="text-danger"></span>
            </div>
            
                <div class="form-group">
                    <label asp-for="No" class="control-label"></label>
                    <input asp-for="No" class="form-control" />
                    <span asp-validation-for="No" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumberOfRooms" class="control-label"></label>
                    <input asp-for="NumberOfRooms" class="form-control" />
                    <span asp-validation-for="NumberOfRooms" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Floor" class="control-label"></label>
                    <input asp-for="Floor" class="form-control" />
                    <span asp-validation-for="Floor" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>

                <h6>@ViewData["ErrorMessage"]</h6>
</form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
